*{
    font-family: 'Courier New', Courier, monospace;

}
h1{
    color: #1b74e4;

}
#searchbtn{
    color: aliceblue;
    background-color: black;
}
.userbtn{
    background-color: aqua;
}